body {
    background-color: #f2f2f2;
    font-size: 16px;
    min-height: 100vh;
}

/*Header*/
#window-header {
    background-color: #25424C;
    overflow: hidden;
}

#window-header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#window-header .sign-out-href {
    float: right;
}

#window-header a:hover {
    background-color: #ddd;
    color: #25424C;
}

/*Page content*/
#centerDiv {
    background-color: #fff;
    margin: auto;
    width: 70%;
    padding: 10px;
    min-height: 100vh;
}

#centerDiv .section {
    padding: 15px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

/* Registration page */
.section .sign-up-container {
    padding: 16px;
}

.sign-up-container input[type=text],
.sign-up-container input[type=password],
.sign-up-container select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Sign in page/form */
.section .sign-in-container {
    padding: 16px;
    width: 60%;
    margin: auto;
}

.sign-in-container input[type=text], .sign-in-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/register button */
.button-submit {
    background-color: #fb770d;
    color: #25424C;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.button-submit:hover {
    opacity: 1;
}


/* Searching for expositions */
.search-expo-form .search-choices {
    align-items: center;
}

.search-expo-form .search-choices label {
    margin: 5px 10px 5px 0;
}

.search-expo-form .search-choices input[type=radio] {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.search-expo-form .search-choices input[type=submit] {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.search-fields {
    display: none;
}

/* Exposition grid */


.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.accordian-body span{
    color:#a2a2a2 !important;
}


.pages-bar {
    display: flex;
    align-items: flex-start;
}

.pages-bar p {
    min-width: 40px;
}