<%@ include file="/WEB-INF/jspf/directives/page.jspf" %>
<%@ include file="/WEB-INF/jspf/directives/taglib.jspf" %>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <c:if test="${not empty sessionScope.user}">

            <c:choose>
                <c:when test="${sessionScope.user.role == \"ADMIN\"}">
                    <ul class="nav navbar-nav">
                        <li><a href=" <c:url value="/expositions"/> ">
                            <fmt:message key="page.header.look_for_exhibitions"/>
                        </a></li>
                        <li><a href=" <c:url value="/add-exposition"/> ">
                            <fmt:message key="page.header.add_exhibition"/>
                        </a></li>
                        <li><a href=" <c:url value="/registration"/> ">
                            <fmt:message
                                key="page.header.registration_for_admin"/>
                        </a></li>
                    </ul>
                    <p class="navbar-text"><fmt:message key="page.header.greeting"/> ${sessionScope.user.login}</p>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><fmt:message key="page.header.language"/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="?language=en">EN</a></li>
                                <li><a href="?language=uk">UA</a></li>
                            </ul>
                        </li>
                        <li><a href=" <c:url value="/sign-out"/> "><fmt:message key="page.header.sign_out"/></a>
                        </li>
                    </ul>
                </c:when>
            </c:choose>

            <c:choose>
                <c:when test="${sessionScope.user.role == \"USER\"}">
                    <ul class="nav navbar-nav">
                        <li><a href=" <c:url value="/expositions"/> "><fmt:message
                                key="page.header.look_for_exhibitions"/></a>
                        </li>
                        <li><a href=" <c:url value="/tickets-list"/> "><fmt:message
                                key="page.header.users_tickets"/></a></li>
                    </ul>
                    <p class="navbar-text"><fmt:message key="page.header.greeting"/> ${sessionScope.user.login}</p>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><fmt:message key="page.header.language"/><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="?language=en">EN</a></li>
                                <li><a href="?language=uk">UA</a></li>
                            </ul>
                        </li>
                        <li><a href=" <c:url value="/sign-out"/> "><fmt:message key="page.header.sign_out"/></a>
                        </li>
                    </ul>
                </c:when>
            </c:choose>
        </c:if>

        <c:if test="${empty sessionScope.user}">
            <ul class="nav navbar-nav">
                <li><a href=" <c:url value="/expositions"/> "><fmt:message
                        key="page.header.look_for_exhibitions"/></a>
                </li>
                <li><a href="<c:url value="/registration"/>"><fmt:message key="page.header.registration"/></a></li>
                <li><a href="<c:url value="/sign-in"/>"><fmt:message key="page.header.sign_in"/></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><fmt:message key="page.header.language"/><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="?language=en">EN</a></li>
                        <li><a href="?language=uk">UA</a></li>
                    </ul>
                </li>
            </ul>
        </c:if>
    </div>
</nav>